body {
    background-color: yellow;
    color: red;
}

    h1 {
        color:green;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        letter-spacing: 5px;
        font-size: 52px;
        text-transform: uppercase;
    }
div {
    background: blueviolet;
    padding: 68px;
    margin: 18px;

}
.ADMJ {
    width: 700px;
    margin: 40px auto;
    text-align: center;
}
.img-circle {
    border-radius: 50%;
} 
.list-inline {
    list-style: none;
    padding-left: 0px;
}
#introduction p {
    margin: 40px;
}
@media (max-width: 500px) {
    .ADMJ {
        background-color: black;
    }
}